<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shoppingapp.productservice.mapper.CategoryMapper">

    <select id="findAll" resultType="com.example.shoppingapp.productservice.model.Category">
        SELECT *
        FROM categories;
    </select>

    <select id="findById" parameterType="int" resultType="com.example.shoppingapp.productservice.model.Category">
        SELECT *
        FROM categories
        WHERE cat_id = #{category_id};
    </select>

    <insert id="insert" parameterType="com.example.shoppingapp.productservice.model.Category" useGeneratedKeys="true" keyProperty="category_id">
        INSERT INTO categories(cat_title)
        VALUES (#{category_name});
    </insert>

    <update id="update" parameterType="com.example.shoppingapp.productservice.model.Category">
        UPDATE categories
        SET cat_title=#{category_name}
        WHERE cat_id = #{category_id};
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM categories
        WHERE cat_id = #{category_id};
    </delete>

</mapper>
